body {
    background: rgb(125,222,146);
    background: linear-gradient(90deg, rgba(125,222,146,1) 0%, rgba(46,191,165,1) 35%, rgba(78,65,135,1) 100%);
}
.team-heading {
    text-transform: uppercase;
    background-color: #4e4187;
    box-shadow: 10px 0px 15px #3f3f3fe1;
    color: #ffffff;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #35353580;
    scale: 1.2;
}
.team-area {
    max-width: 1000px;
    margin: 3em auto;
    flex-wrap: wrap;
}
.employee-card {
    margin: 1em;
    max-width: 280px;
    width: 90%;
    min-height: 22rem;
    background-color: #2EBFA5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    border: none;
}
.card-header {
    text-align: center;
    text-transform: capitalize;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f7f8;
}
.list-group-item {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
li span, li a {
    font-weight: 400;
}